:root {
  --background-palettelight-grey: rgba(246, 246, 246, 1);
  --background-palettemid-grey: rgba(229, 229, 229, 1);
  --background-palettemodal-background: rgba(0, 0, 0, 0.7);
  --background-palettetesco-blue: rgba(0, 83, 159, 1);
  --background-palettewhite: rgba(255, 255, 255, 1);
  --body-small-default-short-form-font-family: "TESCOModern-Regular", Helvetica;
  --body-small-default-short-form-font-size: 14px;
  --body-small-default-short-form-font-style: normal;
  --body-small-default-short-form-font-weight: 400;
  --body-small-default-short-form-letter-spacing: 0px;
  --body-small-default-short-form-line-height: 18px;
  --body-standard-default-long-form-font-family: "TESCOModern-Regular", Helvetica;
  --body-standard-default-long-form-font-size: 16px;
  --body-standard-default-long-form-font-style: normal;
  --body-standard-default-long-form-font-weight: 400;
  --body-standard-default-long-form-letter-spacing: 0px;
  --body-standard-default-long-form-line-height: 24px;
  --body-standard-default-short-form-font-family: "TESCOModern-Regular", Helvetica;
  --body-standard-default-short-form-font-size: 16px;
  --body-standard-default-short-form-font-style: normal;
  --body-standard-default-short-form-font-weight: 400;
  --body-standard-default-short-form-letter-spacing: 0px;
  --body-standard-default-short-form-line-height: 20px;
  --body-standard-form-hint-font-family: "TESCOModern-Italic", Helvetica;
  --body-standard-form-hint-font-size: 16px;
  --body-standard-form-hint-font-style: italic;
  --body-standard-form-hint-font-weight: 400;
  --body-standard-form-hint-letter-spacing: 0px;
  --body-standard-form-hint-line-height: 24px;
  --body-x-small-default-short-form-font-family: "TESCOModern-Regular", Helvetica;
  --body-x-small-default-short-form-font-size: 12px;
  --body-x-small-default-short-form-font-style: normal;
  --body-x-small-default-short-form-font-weight: 400;
  --body-x-small-default-short-form-letter-spacing: 0px;
  --body-x-small-default-short-form-line-height: 16px;
  --headings-heading-1-font-family: "TESCOModern-Bold", Helvetica;
  --headings-heading-1-font-size: 32px;
  --headings-heading-1-font-style: normal;
  --headings-heading-1-font-weight: 700;
  --headings-heading-1-letter-spacing: 0px;
  --headings-heading-1-line-height: 36px;
  --headings-heading-5-font-family: "TESCOModern-Bold", Helvetica;
  --headings-heading-5-font-size: 16px;
  --headings-heading-5-font-style: normal;
  --headings-heading-5-font-weight: 700;
  --headings-heading-5-letter-spacing: 0px;
  --headings-heading-5-line-height: 20px;
  --icon-palettewhite: rgba(255, 255, 255, 1);
  --interaction-paletteactive-blue: rgba(0, 126, 179, 1);
  --interaction-palettedisabled-grey: rgba(229, 229, 229, 1);
  --interaction-palettedisabled-white: rgba(255, 255, 255, 0.7);
  --interaction-paletteerror-red: rgba(204, 51, 51, 1);
  --interaction-palettehighlight-blue-hover: rgba(0, 126, 179, 0.4);
  --interaction-palettetesco-blue-hover: rgba(0, 83, 159, 0.4);
  --interaction-palettewhite: rgba(255, 255, 255, 1);
  --interaction-palettewhite-hover: rgba(255, 255, 255, 0.4);
  --labels-label-font-family: "TESCOModern-Bold", Helvetica;
  --labels-label-font-size: 16px;
  --labels-label-font-style: normal;
  --labels-label-font-weight: 700;
  --labels-label-hover-font-family: "TESCOModern-Bold", Helvetica;
  --labels-label-hover-font-size: 16px;
  --labels-label-hover-font-style: normal;
  --labels-label-hover-font-weight: 700;
  --labels-label-hover-letter-spacing: 0px;
  --labels-label-hover-line-height: 20px;
  --labels-label-letter-spacing: 0px;
  --labels-label-line-height: 20px;
  --labels-label-small-font-family: "TESCOModern-Bold", Helvetica;
  --labels-label-small-font-size: 14px;
  --labels-label-small-font-style: normal;
  --labels-label-small-font-weight: 700;
  --labels-label-small-hover-font-family: "TESCOModern-Bold", Helvetica;
  --labels-label-small-hover-font-size: 14px;
  --labels-label-small-hover-font-style: normal;
  --labels-label-small-hover-font-weight: 700;
  --labels-label-small-hover-letter-spacing: 0px;
  --labels-label-small-hover-line-height: 18px;
  --labels-label-small-letter-spacing: 0px;
  --labels-label-small-line-height: 18px;
  --labels-label-x-small-font-family: "TESCOModern-Bold", Helvetica;
  --labels-label-x-small-font-size: 12px;
  --labels-label-x-small-font-style: normal;
  --labels-label-x-small-font-weight: 700;
  --labels-label-x-small-letter-spacing: 0px;
  --labels-label-x-small-line-height: 16px;
  --line-paletteinput-border-grey: rgba(102, 102, 102, 1);
  --line-paletteline-grey-1: rgba(204, 204, 204, 1);
  --line-paletteline-grey-2: rgba(229, 229, 229, 1);
  --links-large-enhanced-standalone-link-font-family: "TESCOModern-Bold", Helvetica;
  --links-large-enhanced-standalone-link-font-size: 20px;
  --links-large-enhanced-standalone-link-font-style: normal;
  --links-large-enhanced-standalone-link-font-weight: 700;
  --links-large-enhanced-standalone-link-letter-spacing: 0px;
  --links-large-enhanced-standalone-link-line-height: 24px;
  --links-small-enhanced-standalone-link-font-family: "TESCOModern-Bold", Helvetica;
  --links-small-enhanced-standalone-link-font-size: 14px;
  --links-small-enhanced-standalone-link-font-style: normal;
  --links-small-enhanced-standalone-link-font-weight: 700;
  --links-small-enhanced-standalone-link-letter-spacing: 0px;
  --links-small-enhanced-standalone-link-line-height: 18px;
  --links-small-standalone-link-font-family: "TESCOModern-Bold", Helvetica;
  --links-small-standalone-link-font-size: 14px;
  --links-small-standalone-link-font-style: normal;
  --links-small-standalone-link-font-weight: 700;
  --links-small-standalone-link-letter-spacing: 0px;
  --links-small-standalone-link-line-height: 18px;
  --links-standard-enhanced-standalone-link-font-family: "TESCOModern-Bold", Helvetica;
  --links-standard-enhanced-standalone-link-font-size: 16px;
  --links-standard-enhanced-standalone-link-font-style: normal;
  --links-standard-enhanced-standalone-link-font-weight: 700;
  --links-standard-enhanced-standalone-link-letter-spacing: 0px;
  --links-standard-enhanced-standalone-link-line-height: 20px;
  --links-standard-inline-link-long-form-font-family: "TESCOModern-Regular", Helvetica;
  --links-standard-inline-link-long-form-font-size: 16px;
  --links-standard-inline-link-long-form-font-style: normal;
  --links-standard-inline-link-long-form-font-weight: 400;
  --links-standard-inline-link-long-form-letter-spacing: 0px;
  --links-standard-inline-link-long-form-line-height: 24px;
  --links-standard-inline-link-short-form-font-family: "TESCOModern-Regular", Helvetica;
  --links-standard-inline-link-short-form-font-size: 16px;
  --links-standard-inline-link-short-form-font-style: normal;
  --links-standard-inline-link-short-form-font-weight: 400;
  --links-standard-inline-link-short-form-letter-spacing: 0px;
  --links-standard-inline-link-short-form-line-height: 20px;
  --messaging-palette-tintactive-blue-tint: rgba(224, 239, 245, 1);
  --messaging-palette-tinterror-red-tint: rgba(249, 231, 231, 1);
  --messaging-palette-tintinformation-blue-tint: rgba(224, 238, 251, 1);
  --messaging-palette-tintsuccess-green-tint: rgba(224, 241, 224, 1);
  --messaging-palette-tintwarning-amber-tint: rgba(251, 236, 224, 1);
  --monospace-numbers-body-small-font-family: "TESCOModern-Regular", Helvetica;
  --monospace-numbers-body-small-font-size: 14px;
  --monospace-numbers-body-small-font-style: normal;
  --monospace-numbers-body-small-font-weight: 400;
  --monospace-numbers-body-small-letter-spacing: 0px;
  --monospace-numbers-body-small-line-height: 18px;
  --monospace-numbers-headline-small-font-family: "TESCOModern-Bold", Helvetica;
  --monospace-numbers-headline-small-font-size: 14px;
  --monospace-numbers-headline-small-font-style: normal;
  --monospace-numbers-headline-small-font-weight: 700;
  --monospace-numbers-headline-small-letter-spacing: 0px;
  --monospace-numbers-headline-small-line-height: 18px;
  --monospace-numbers-headline-standard-font-family: "TESCOModern-Bold", Helvetica;
  --monospace-numbers-headline-standard-font-size: 16px;
  --monospace-numbers-headline-standard-font-style: normal;
  --monospace-numbers-headline-standard-font-weight: 700;
  --monospace-numbers-headline-standard-letter-spacing: 0px;
  --monospace-numbers-headline-standard-line-height: 20px;
  --stylesform-stylesactive: rgba(255, 255, 255, 1);
  --text-paletteactive-blue: rgba(0, 126, 179, 1);
  --text-palettebody-grey: rgba(102, 102, 102, 1);
  --text-paletteheader-and-body-white: rgba(255, 255, 255, 1);
  --text-paletteheader-grey: rgba(51, 51, 51, 1);
  --text-palettetesco-blue: rgba(0, 83, 159, 1);
}
