.enhanced-standalone {
  align-items: flex-start;
  display: inline-flex;
  gap: 4px;
  position: relative;
}

.enhanced-standalone .label-20 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 1px 0px 0px;
  position: relative;
}

.enhanced-standalone .text-15 {
  color: #00529f;
  font-family: var(--links-standard-enhanced-standalone-link-font-family);
  font-size: var(--links-standard-enhanced-standalone-link-font-size);
  font-style: var(--links-standard-enhanced-standalone-link-font-style);
  font-weight: var(--links-standard-enhanced-standalone-link-font-weight);
  letter-spacing: var(--links-standard-enhanced-standalone-link-letter-spacing);
  line-height: var(--links-standard-enhanced-standalone-link-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.enhanced-standalone .web-icons-backward-instance {
  left: unset !important;
  position: relative !important;
  top: unset !important;
}
